---
import ButtonCTA from "../ButtonCTA.astro"

import { statistics } from "../../shared/contants";

---

<section 
    id="home" 
    class="w-full flex 
    xl:flex-row flex-col
    justify-center min-h-screen 
    gap-10 max-container">
    <div class="relative xl:w-2/5 flex flex-col justify-center items-start w-full max-xl:padding-x pt-28">
        <p>Entrepreneur</p>
        <h1>
            <span>Your First Big Step</span>
            <br/>
            <span>Propler</span> your journey
        </h1>
        <p>Some value prop stuff goes here and it will be a short sentence</p>
        
        <ButtonCTA text="start here" />

        <div class="flex justify-start items-start flex-wrap w-full mt-20 gap-16">
            {statistics.map((stat)=>(<div><p>{stat.value}</p> <p>{stat.label}</p></div>))}
        </div>

    </div>
</section>
