---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
---

<Layout title="TW with Astro">
	<main class="p-10">
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<Button buttonText='Get Started' />
		<p class="">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		
	</main>
</Layout>

