---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/homepage/Hero.astro';
import PopularProducts from '../components/homepage/PopularProducts.astro';
import SuperQuality from '../components/homepage/SuperQuality.astro';
import Services from '../components/homepage/Services.astro';
import SpecialOffer from '../components/homepage/SpecialOffer.astro';
import CustomerReviews from '../components/homepage/CustomerReviews.astro';
import Subscribe from '../components/homepage/Subscribe.astro';

---

<Layout title="TW with Astro" theme="">
	<!--Hero Section -->
	<section class='xl:padding-l wide:padding-r padding-b'>
		<Hero />
	</section>

	<section class='padding'>
		<PopularProducts />
	</section>

	<section class='padding'>
		<SuperQuality />
	</section>

	<section class='padding-x py-10'>
		<Services />
	</section>

	<section class='padding'>
		<SpecialOffer />
	</section>

	<section class='bg-pale-blue padding'>
		<CustomerReviews />
	</section>

	<section class='padding-x sm:py-32 py-16 w-full'>
		<Subscribe />
	</section>
      
</Layout>



