---
import {Image} from 'astro:assets'
import ArrowRight from '../assets/icons/arrow-right.svg'
interface Props {
    text: string
}

const {text} = Astro.props;
---

<button 
    class="flex justify-center 
    items-center gap-2 px-7 py-4 
    font-montserrat text-lg 
    leading-none bg-coral-red border-coral-red
    rounded-full text-white"
>
    {text}
    <Image src={ArrowRight} alt="arrow right" class="ml-2 rounded-full w-5 h-5"/>
</button>