---

interface Props{
    items: string[]
}

const {items} = Astro.props;

---

<ul class="my-2 space-y-2">
    {items.map(item => <li class="bg-orange-200 text-black p-2 first:bg-white first-text-orange-700 odd:bg-orange-100 even:bg-orange-200">{item}</li>)}
    
</ul>