---
import {Image} from 'astro:assets'
import logo from '../assets/images/propelrUp.svg'
---

<header> 
    <nav>
        <a href="/">
            <Image src={logo} alt="Propelr logo" />
        </a>
    </nav>

</header>
